<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.vincekruger.whatsapp_stickers">

    <application
        android:name="io.flutter.app.FlutterApplication"
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="false"
        android:fullBackupContent="false">

        <provider
            android:name=".StickerContentProvider"
            android:authorities="${applicationId}.stickercontentprovider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />
    </application>
</manifest>
